################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/src/packages/
/src/.vs/
/src/Yuka.Cli/bin/
/src/Yuka.Cli/obj/
/src/Yuka.Core/bin/
/src/Yuka.Core/obj/
